{% extends 'pet_shop/base.html' %}
{% load static %}

{% block title_page %}
<title>Каталог</title>
{% endblock title_page%}

{% block content %}
<section class="main-section paddind" id="Portfolio">
	<div class="container">
		<h2>Каталог</h2>
		<h6>Здесь Вы найдете все необходимое для ваших любимых котиков</h6>
		<div class="portfolioFilter">
			<ul class="Portfolio-nav wow fadeIn delay-02s">
				<li><a href="#" data-filter="*" class="current">Все</a></li>
				<li><a href="#" data-filter=".food_treat">Корма & лакомства</a></li>
				<li><a href="#" data-filter=".home_bed_transport">Домики, лежанки & переноски</a></li>
				<li><a href="#" data-filter=".care">Cредства по уходу</a></li>
				<li><a href="#" data-filter=".toilet_filler">Лотки & наполнители</a></li>
				<li><a href="#" data-filter=".else">Другое</a></li>
			</ul>
		</div>

	</div>
	<div class="portfolioContainer wow fadeInUp delay-04s">
		{% for post in prod %}
			{% if post.is_available %}
				{% if post.group == "Корм" or post.group == "Лакомство" %}
					<div class=" Portfolio-box food_treat">
						<a href="{% url 'product' product_id=post.pk%}"><img src="{{ post.image.url }}" alt=""></a>
						<h3>{{ post.name }}</h3>
						<p>{{ post.price }} руб.</p>
					</div>
				{% elif post.group == "Домик" or post.group == "Лежанка" or post.group == "Переноска" %}
					<div class=" Portfolio-box home_bed_transport">
						<a href="{% url 'product' product_id=post.pk%}"><img src="{{ post.image.url }}"></a>
						<h3>{{ post.name }}</h3>
						<p>{{ post.price }} руб.</p>
					</div>
				{% elif post.group == "Средства по уходу" %}
					<div class=" Portfolio-box care">
						<a href="{% url 'product' product_id=post.pk%}"><img src="{{ post.image.url }}" alt=""></a>
						<h3>{{ post.name }}</h3>
						<p>{{ post.price }} руб.</p>
					</div>
				{% elif post.group == "Лоток" or post.group == "Наполнитель" %}
						<div class=" Portfolio-box toilet_filler">
							<a href="{% url 'product' product_id=post.pk%}"><img src="{{ post.image.url }}" alt=""></a>
							<h3>{{ post.name }}</h3>
							<p>{{ post.price }} руб.</p>
						</div>
				{% elif post.group == "Другое" %}
						<div class=" Portfolio-box else">
							<a href="{% url 'product' product_id=post.pk%}"><img src="{{ post.image.url }}" alt=""></a>
							<h3>{{ post.name }}</h3>
							<p>{{ post.price }} руб.</p>
						</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</section>
{% endblock content %}

